@tailwind base;
@tailwind components;
@tailwind utilities;



.slide-in {
    animation: slide-in .5s ease-out forwards;
}
.slide-out {
    animation: slide-out .5s ease-in forwards;
}
@keyframes slide-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

img {
    transition: all 0.5s linear;
}

 .abc{
   overflow: hidden;
} 

.abc:hover img{
    transform: scale(1.1);
} 
#in{
    color: black;
}
#out{
    color: black;
}